<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div class="container">
<div class="center">
   <div class="imgbox" style=" width: 150px; height:150px ; border-radius: 50%;">
    <img src="../upload/1698500615e2.jpg" alt="" style="width: 100%; height: 100%; display: block; border-radius: 50%;">
   </div>
</div>
<div class="column">
<h2>SECONDARY EDUCATION MANAGEMENT BOARD</h2>
<h3>CONTINIOUS ASSESMENT REPORT BOOK/DOSSIER</h3>
<h5>FOR</h5>
<h5>SENIOUR SECONDARY SCHOOLS</h5>

</div>
<div class="details">
    <!--  -->
    <div class="flex">
        <span>NAME</span>: &nbsp; <span class="flexgrow" style="border-bottom: 3px solid black;"><big>Kingsley samuel</big> </span>
    </div>
    <div class="flex">
        <span>SCHOOL</span>: &nbsp;<span class="flexgrow" style="border-bottom: 3px solid black;"><big>freedom world academy</big> </span>
    </div>
    <div class="flex">
        <span>CLASS</span>: &nbsp;<span class="flexgrow" style="border-bottom: 3px solid black;"><big>jss1b</big> </span>
    </div>
    <div class="flex">
        <span>NEXT TERM BEGINS</span>: &nbsp;<span class="flexgrow" style="border-bottom: 3px solid black;" ><big>20th november 2025</big> </span>
    </div>
    <!--  -->
   
</div>

<h1 class="textcenter">FIRST ANUAL REPORT</h1>

<table style="" border="1">
<thead>
    <tr>
        <th class="colspan" style="width: 200px;">
        <div class="block">
            <h4>PART-A </h4>
            <h4>COGNITIVE</h4>
        </div>
        
        </th>
        <th style=""><span class="">1st term</span></th>
        <th><span class="">1st test</span></th>
        <th><span class="">2st test</span></th>
        <th><span class="">Exam</span></th>
        <th><span class="">total score</span></th>
        <th><span class="">weighted average</span></th>
        <th><span class="">Total score</span></th>
        <th><span class="">Remark</span></th>
    </tr>
</thead>
<tbody>
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->
    <!--  -->
    <tr>
        <td class="colspan" style="width: 100px;">
          <table>
            <tr>
                <th>1</th>
                <th>English language</th>
            </tr>
          </table>
        </td>
        <td>15</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
        <td>20</td>
       
    </tr>
    <!--  -->

</tbody>

</table>
<div class="d-flex" style="">
    <small>
        <h3>PART B EFFECTIVE/PSYCHOMOTOR RATTING</h3>
        <table border="1">
            <tr>
                <th style="width: 100px;">Traits</th>
                <th>5</th>
                <th>4</th>
                <th>3</th>
                <th>2</th>
                <th>1</th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>puntuality</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
            <tr>
                <th style="width: 150px;">
                    <table>
                    <tr>
                        <th>1</th>
                        <th>behaviour</th>
                    </tr>
                </table>
                </th>
                <th style="width: 1cm;">&#x2713;</th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
                <th style="width: 1cm;"></th>
            </tr>
        </table>
    </small>
   
   <div>
    <h4>KEY TO RATTING</h4>
    <p>5 maintains an excellent degree of observable trait</p>
    <p>4 maintains high level of observable trait</p>
    <p>3 maintains acceptable level of observable trait</p>
    <p>2 shows minimal regard of observable trait</p>
    <p>1 has no regard of observable trait</p>
   </div>

   <div class="inp">
    <h3>Principal Remark: &nbsp; <small style="border-bottom: 1px solid black;min-width: 70%;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam sunt cumque in eligendi animi similique voluptatibus, reiciendis quo ab illo quis ex dolorum vitae velit doloribus dignissimos ipsa facere dolore?</small></h3> 
    <h3>Date: &nbsp; <small style="border-bottom: 1px solid black;min-width: 70%;">20th december 2024</small></h3> 
   </div>

   

</div>
</div> 
</body>
</html>