<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="res/framework/bootstrap-5.0.2/dist/css/bootstrap.css">
        <link rel="stylesheet" href="res/framework/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/signin.css">
        <script defer src="res/framework/bootstrap-5.0.2/dist/js/bootstrap.js"></script>
        <title>sign in</title>
    </head>
<body>
    <div class="card col-12 col-md-6 m-auto cd d-flex flex-column ">
        <div class="head d-flex align-items-center ps-3  lg">
            <div class="ic">
                <i class="fa fa-arrow-left"></i>
           </div>
            <!-- s -->
         <div class=" ch  pt-4">
            <div class="col-12 d-flex  align-items-center gap-3 ">
                <figure class="logo2">
                    <img src="res/img/tail2.png" alt="">
    
                </figure>
                <div class="d-flex flex-column  justify-content-center m  mb-3">
                    <span class=""> kingsley samuel</span>
                    <small class="gray">Active now</small>
                </div>
            </div>
            <!-- e -->
           
        </div>
       
       
     </div>
     <div class="scree  screen">
        <div class="sentdiv">
           
            <div class="sent">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="resdiv align-items-end gap-3">
            <figure class="logo2 logo3">
                <img src="res/img/tail2.png" alt="">

            </figure>
            <div class="res">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="sentdiv">
           
            <div class="sent">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="resdiv align-items-end gap-3">
            <figure class="logo2 logo3">
                <img src="res/img/tail2.png" alt="">

            </figure>
            <div class="res">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="sentdiv">
           
            <div class="sent">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="resdiv align-items-end gap-3">
            <figure class="logo2 logo3">
                <img src="res/img/tail2.png" alt="">

            </figure>
            <div class="res">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="sentdiv">
           
            <div class="sent">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="resdiv align-items-end gap-3">
            <figure class="logo2 logo3">
                <img src="res/img/tail2.png" alt="">

            </figure>
            <div class="res">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="sentdiv">
           
            <div class="sent">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="resdiv align-items-end gap-3">
            <figure class="logo2 logo3">
                <img src="res/img/tail2.png" alt="">

            </figure>
            <div class="res">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="sentdiv">
           
            <div class="sent">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="resdiv align-items-end gap-3">
            <figure class="logo2 logo3">
                <img src="res/img/tail2.png" alt="">

            </figure>
            <div class="res">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="sentdiv">
           
            <div class="sent">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
        <div class="resdiv align-items-end gap-3">
            <figure class="logo2 logo3">
                <img src="res/img/tail2.png" alt="">

            </figure>
            <div class="res">
                vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
            </div>
        </div>
     
    </div>
    <div class="send d-flex align-items-center">
        <form action="" class="w-100">
        <div class="input-group">
          
                <input type="text" class="form-control">
                <button class="btn btn-dark"><i class="fa  fa-send"></i></button>

           
           
        </div>
    </form>
    </div>
</div>
</body>
</html>